/*--------------GENERAL STYLE--------------*/
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.text-center{
    text-align: center;
}

/*--------------SITE SECTION--------------*/

.main{
    background-color: #121212;
}

.header{
    background: #121212;
}

/* UPGRADE/PROFILE SECTION */
.upgrade-banner{
    background-color: #121212;
    z-index: 10;
}

.upgrade-banner nav{
    width: 50%;
}

.search-bar-box{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin-left: 1rem;
    flex-grow: 1;
}

.search-bar-box input[type="text"]{
    border: none;
    color: #121212;
    padding-left: 1rem;
    width: 80%;
    min-width: 100px;
}

.search-bar-box img{
    filter: invert(1);
    cursor: pointer;
}

/* BROWSING-HISTORY SECTION */
.browsing-history{
    padding: 5rem 1rem 0;
}

.browsing-history .title{
    justify-content: space-between;
}

.browsing-history .section-title{
    padding: 2rem 0;
}

.show-more{
    text-decoration: none;
    color: #636363;
    font-weight: bold;
    font-size: 0.8rem;
}

.card-row{
    overflow: hidden;
    gap: 1rem;
}

.card{
    width: calc((100% - 1rem) / 2);
    padding: 1rem 1rem 2rem 1rem;
    background-color: #181818;
    border-radius: 1rem;
    position: relative;
}

.card:nth-child(3){
    display: none;
}
.card:nth-child(4){
    display: none;
}
.card:nth-child(5){
    display: none;
}
.card:nth-child(6){
    display: none;
}
.card:nth-child(7){
    display: none;
}

.img-box-singer{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}

.img-box-singer img{
    width: 100%;
    display: block;
}

.card-name{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: #fff;
}

.card-type{
    font-size: 0.9rem;
    color: #636363;
    font-weight: 600;
}

.close-card{
    border: none;
    height: 25px;
    width: 25px;
    background-color: #121212;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

/* GENRES SECTION */
.genres-grid{
    padding: 1rem;
}

.grid-wrapper{
    gap: 1rem;
}

.genres-grid .card{
    width: calc((100% - 1rem) / 2);
    background-color: aqua;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.genres-grid .genre-img{
    width: 100px;
    height: 100px;
    transform: rotate(20deg);
    position: absolute;
    left: 60%;
    top: 60%;
}

.genres-grid .genre-img img{
    display: block;
    width: 100%;
}

.genre-name{
    color:#fff;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

/*--------------MEDIA QUERIES--------------*/
@media screen and (min-width: 800px){
    .card:nth-child(3){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 2rem) / 3);
    }
}

@media screen and (min-width: 1000px){
    .card:nth-child(4){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 3rem) / 4);
    }
}

@media screen and (min-width: 1200px){
    .card:nth-child(5){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 4rem) / 5);
    }
}

@media screen and (min-width: 1400px){
    .card:nth-child(6){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 5rem) / 6);
    }
}

@media screen and (min-width: 1600px){
    .card:nth-child(7){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 6rem) / 7);
    }
}