/*--------------GENERAL STYLE--------------*/
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.text-center{
    text-align: center;
}

/*--------------SITE SECTION--------------*/

.main{
    background-color: #121212;
}

.header{
    background: #121212;
}

/* UPGRADE/PROFILE SECTION */
.upgrade-banner{
    background-color: #121212;
    z-index: 10;
}

.upgrade-banner nav{
    width: 50%;
}

.search-bar-box{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin-left: 1rem;
    flex-grow: 1;
}

.search-bar-box input[type="text"]{
    border: none;
    color: #121212;
    padding-left: 1rem;
    width: 80%;
    min-width: 100px;
}

.search-bar-box img{
    filter: invert(1);
    cursor: pointer;
}

/* BROWSING-HISTORY SECTION */
.browsing-history{
    padding: 5rem 1rem 0;
}

.browsing-history .title{
    justify-content: space-between;
}

.browsing-history .section-title{
    padding: 2rem 0;
}

.show-more{
    text-decoration: none;
    color: #636363;
    font-weight: bold;
    font-size: 0.8rem;
}

.card-row{
    overflow: hidden;
    gap: 1rem;
}

.card{
    width: calc((100% - 1rem) / 2);
    padding: 1rem 1rem 2rem 1rem;
    background-color: #181818;
    border-radius: 1rem;
    position: relative;
}

.card:nth-child(3){
    display: none;
}
.card:nth-child(4){
    display: none;
}
.card:nth-child(5){
    display: none;
}
.card:nth-child(6){
    display: none;
}
.card:nth-child(7){
    display: none;
}

.img-box-singer{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}

.img-box-singer img{
    width: 100%;
    display: block;
}

.card-name{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: #fff;
}

.card-type{
    font-size: 0.9rem;
    color: #636363;
    font-weight: 600;
}

.close-card{
    border: none;
    height: 25px;
    width: 25px;
    background-color: #121212;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

/* GENRES SECTION */
.genres-grid{
    padding: 1rem;
}

.grid-wrapper{
    gap: 1rem;
}

.genres-grid .card{
    width: calc((100% - 1rem) / 2);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.genres-grid .genre-img{
    width: 100px;
    height: 100px;
    transform: rotate(20deg);
    position: absolute;
    left: 60%;
    top: 60%;
}

.genres-grid .genre-img img{
    display: block;
    width: 100%;
}

.genre-name{
    color:#fff;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

.genres-grid .card:nth-child(1){
    background-color: yellowgreen;
}
.genres-grid .card:nth-child(2){
    background-color: darkcyan;
}
.genres-grid .card:nth-child(3){
    background-color: saddlebrown;
}
.genres-grid .card:nth-child(4){
    background-color: red;
}
.genres-grid .card:nth-child(5){
    background-color: rgb(219, 219, 139);
}
.genres-grid .card:nth-child(6){
    background-color: palegreen;
}
.genres-grid .card:nth-child(7){
    background-color: palevioletred;
}
.genres-grid .card:nth-child(8){
    background-color: rgb(206, 143, 89);
}
.genres-grid .card:nth-child(9){
    background-color: rgb(221, 126, 141);
}
.genres-grid .card:nth-child(10){
    background-color: orange;
}
.genres-grid .card:nth-child(11){
    background-color: hotpink;
}
.genres-grid .card:nth-child(12){
    background-color: rgb(125, 224, 125);
}
.genres-grid .card:nth-child(13){
    background-color: gold;
}
.genres-grid .card:nth-child(14){
    background-color: magenta;
}
.genres-grid .card:nth-child(15){
    background-color: mediumblue;
}
.genres-grid .card:nth-child(16){
    background-color: mediumspringgreen;
}
.genres-grid .card:nth-child(17){
    background-color: midnightblue;
}
.genres-grid .card:nth-child(18){
    background-color: mediumturquoise;
}
.genres-grid .card:nth-child(19){
    background-color: brown;
}
.genres-grid .card:nth-child(20){
    background-color: rgb(146, 146, 57);
}
.genres-grid .card:nth-child(21){
    background-color: rgb(233, 149, 149);
}
.genres-grid .card:nth-child(22){
    background-color: rgb(255, 149, 73);
}
.genres-grid .card:nth-child(23){
    background-color: aqua;
}
.genres-grid .card:nth-child(24){
    background-color: indigo;
}
.genres-grid .card:nth-child(25){
    background-color: indianred;
}
.genres-grid .card:nth-child(26){
    background-color: yellowgreen;
}
.genres-grid .card:nth-child(27){
    background-color: rosybrown;
}
.genres-grid .card:nth-child(28){
    background-color: royalblue;
}
.genres-grid .card:nth-child(29){
    background-color: red;
}
.genres-grid .card:nth-child(30){
    background-color: magenta;
}
.genres-grid .card:nth-child(31){
    background-color: palegreen;
}
.genres-grid .card:nth-child(32){
    background-color: rgb(214, 170, 98);
}
.genres-grid .card:nth-child(33){
    background-color: peru;
}
.genres-grid .card:nth-child(34){
    background-color: firebrick;
}
.genres-grid .card:nth-child(35){
    background-color: rgb(236, 193, 107);
}
.genres-grid .card:nth-child(36){
    background-color: forestgreen;
}
.genres-grid .card:nth-child(37){
    background-color: fuchsia;
}
.genres-grid .card:nth-child(38){
    background-color: olive;
}
.genres-grid .card:nth-child(39){
    background-color: orange;
}
.genres-grid .card:nth-child(40){
    background-color: orangered;
}
.genres-grid .card:nth-child(41){
    background-color: yellowgreen;
}
.genres-grid .card:nth-child(42){
    background-color: orchid;
}
.genres-grid .card:nth-child(43){
    background-color: yellowgreen;
}
.genres-grid .card:nth-child(44){
    background-color: salmon;
}
.genres-grid .card:nth-child(45){
    background-color: skyblue;
}
.genres-grid .card:nth-child(46){
    background-color: rebeccapurple;
}
.genres-grid .card:nth-child(47){
    background-color: palevioletred;
}
.genres-grid .card:nth-child(48){
    background-color: aqua;
}
.genres-grid .card:nth-child(49){
    background-color: rgb(247, 199, 111);
}
.genres-grid .card:nth-child(50){
    background-color: red;
}
.genres-grid .card:nth-child(51){
    background-color: gold;
}
.genres-grid .card:nth-child(52){
    background-color: green;
}
.genres-grid .card:nth-child(53){
    background-color: greenyellow;
}
.genres-grid .card:nth-child(54){
    background-color: lime;
}
.genres-grid .card:nth-child(55){
    background-color: lightcoral;
}
.genres-grid .card:nth-child(56){
    background-color: hotpink;
}
.genres-grid .card:nth-child(57){
    background-color: rgb(124, 201, 124);
}
.genres-grid .card:nth-child(58){
    background-color: navy;
}
.genres-grid .card:nth-child(59){
    background-color: rgb(221, 156, 59);
}
.genres-grid .card:nth-child(60){
    background-color: darkgoldenrod;
}
.genres-grid .card:nth-child(61){
    background-color: darkolivegreen;
}

/*--------------MEDIA QUERIES--------------*/
@media screen and (min-width: 800px){
    .card:nth-child(3){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 2rem) / 3);
    }
}

@media screen and (min-width: 1000px){
    .card:nth-child(4){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 3rem) / 4);
    }
}

@media screen and (min-width: 1200px){
    .card:nth-child(5){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 4rem) / 5);
    }
}

@media screen and (min-width: 1400px){
    .card:nth-child(6){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 5rem) / 6);
    }
}

@media screen and (min-width: 1600px){
    .card:nth-child(7){
        display: block;
    }

    .genres-grid  .card{
        width: calc((100% - 6rem) / 7);
    }
}