/*--------------GENERAL STYLE--------------*/
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*--------------LAYOUT STYLE--------------*/
.flex{
    display: flex;
}

.hidden{
    display: none;
}

/*--------------SITE SECTION--------------*/

/* SIDE-BAR SECTION */
.side-bar{
    width: 50px;
    height: calc(100vh - 90px);
    background-color: #000000;
    padding-top: 0.25rem;
    padding-bottom: 0.56rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 600;
    color: #6e6e6e;
    overflow: hidden;
}

.side-bar .wrapper{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-small{
    filter: invert(1);
    margin-bottom: 1rem;
}

.logo-big{
    height: 40px;
    margin-bottom: 1rem;
}

.menu{
    width: 100%;

}

.menu-item{
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0;
    
}

.menu-icon{
    width: 25px;
}

.menu-name{
    padding-left: 0.5rem;
}

.playlist{
    padding-top: 1rem;
    padding-left: 1.25rem;
    list-style: none;
    
}

.playlist .heading{
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.add-playlist{
    line-height: 35px;
    font-size: 0.9rem;
}

.new-playlist{
    height: 35px;
    width: 35px;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    background-color: #a3a3a3;
    color: #000000;
    margin-right: 0.25rem;
}

.playlist-name{
    font-weight: bold;
    padding-top: 1rem;
}

.download{
    border-radius: 5%;
    width: 100%;
    justify-content: center;
}

.download-btn{
    width: 15px;
    margin-bottom: 1rem;
}

.profile{
    line-height: 25px;
}

.profile-btn{
    width: 25px;
    height: 25px;
    background-color: #808080;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.profile-name{
    color:#fff;
}

/* MAIN SECTION */
.main{
    width: calc(100% - 50px);
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: auto;
}

.upgrade-banner{
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: end;
    padding: 1.5rem;
}

.upgrade-btn{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.7rem 2.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

/* COMMAND-BAR SECTION */
.command-bar{
    height: 90px;
    background-color: #282828;
}

/*--------------MEDIA QUERIES--------------*/
@media screen and (min-width: 639px){
    .hidden{
        display: block;
    }

    /* SIDE-BAR SECTION */
    .side-bar{
        width: 230px;
        padding-top: 1rem;
    }

    .side-bar .wrapper{
        align-items: flex-start;
    }

    .logo-small{
        display: none;
    }

    .logo-big{
        margin-left: 1.25rem;
    }

    .menu-item{
        padding-left: 1.25rem;
        border-left: 3px solid black;
        flex-direction: row;
    }

    
    .side-bar .lower.wrapper{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .download{
        border-bottom: 2px solid #6e6e6e;
        justify-content: flex-start;
    }

    .profile{
        padding-top: 1rem;
    }

    /* MAIN SECTION */
    .main{
        width: calc(100% - 230px);
    }
}