/*--------------GENERAL STYLE--------------*/
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.text-center{
    text-align: center;
}

/*--------------SITE SECTION--------------*/
.header{
    background: linear-gradient(0deg, rgba(45,92,80,1) 0%, rgba(91,184,161,1) 100%);
}

/* UPGRADE/PROFILE SECTION */
.upgrade-banner{
    justify-content: space-between;
    height: auto;
    font-weight: bold;
    background-color: rgba(91,184,161,0.1);
    position: fixed;
    width: calc(100vw - 50px);
}

.back-btn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-shrink: 0;
}

.upgrade-btn{
    color: #fff;
    border: 1px solid #6e6e6e;
    text-transform: none;
    font-size: 0.7rem;
    padding: 0.5rem 1.5rem;
    display: none;
    flex-shrink: 0;
    margin-left: 1rem;
}

.upgrade-btn:hover{
    transform: scale(1.1);
    border: 1px solid #fff;
}

.profile-menu{
    font-size: 0.7rem;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 1rem;
    border: 1px solid transparent;
    padding: 0.1rem;
}

.upgrade-banner .profile-name{
    padding: 0.4rem 0.3rem;
}

i.fa-caret-down{
    padding-right: 0.2rem;
    display: none;
}

/* PLAYLIST HEADING SECTION */
.playlist-heading{
    color: #fff;
    font-weight: bold;
    padding: 2rem 1rem;
    align-items: flex-end;
    padding-top: 90px;
}

.playlist-img{
    width: 200px;
    aspect-ratio: 1/ 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.playlist-img img{
    width: 50%;
    aspect-ratio: 1 / 1;
}

.playlist-info{
    padding-left: 1.5rem;
    justify-content: end;
    flex-direction: column;
    width: 70%;
}

.playlist-privacy{
    font-size: 0.8rem;
}

.playlist-title{
    font-size: 1.5rem;
    padding: 1rem 0;
}

.playlist-heading .profile-name{
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

i.fa-circle{
    font-size: 0.4rem;
}

.song-counter{
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.playlist-time{
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

/* PLAYLIST BODY SECTION */
.playlist-body{
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) calc(100% - 200px), rgba(36,74,64,1) 100%);
    padding: 2rem 1rem;
    overflow-x: hidden;
    min-height: calc(100%);
}

.playlist-commands{
    justify-content: space-between;
    color:#b8c1bf;
    font-size: 1.5rem;
}

.playlist-body .playpause{
    position: relative;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #1ed760;
}

.playlist-body .playpause label{
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: 50%;
    transform: translate(-6px, -50%);
}

.playpause #playpause-playlist[type="checkbox"]:checked ~ label{
    border-style: double;
    border-width: 0px 0 0px 26px;
}

.playlist-player i{
    padding-left:1rem;
}

.search-bar i{
    padding: 0 1rem;
}

.search-bar input{
    background-color: transparent;
    border: none;
    width: 200px;
    font-size: 0.8rem;
    color:#b8c1bf;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.playlist table{
    border-collapse: collapse;
    width: 100%;
    color: #b1b1b1;
}

.playlist tbody tr:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.playlist tbody tr:hover .song-order::after{
    content: "\25b2";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.playlist tbody tr:hover .song-order{
    color: transparent;
}

.playlist thead td{
    border-bottom: 1px solid #727a7d;
    font-weight: bold;
    color: #b8c1bf;
    padding-bottom: 1rem;
}

.playlist td{
    padding: 1rem 0;
}

.playlist .song-order{
    text-align: center;
    color: #b8c1bf;
    font-weight: 600;
    padding: 0 0.5rem;
    position: relative;
}

.playlist .song-info{
    display: flex;
    margin-left: 0.5rem;
    align-items: center;
}

.playlist .song-info .song-img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.playlist .song-info img{
    display: block;
    width: 100%;
    height: 100%;
}

.playlist .song-info .text-wrapper{
    padding-left: 1rem;

}

.playlist .song-title{
    font-weight: 600;
    padding-bottom: 0.2rem;

}

.playlist .song-data,
.playlist .song-time{
    text-align: center;
}

.playlist td:nth-child(3),
.playlist td:nth-child(4){
    display: none;
}

/*--------------MEDIA QUERIES--------------*/
@media screen and (min-width: 639px){
    /* UPGRADE/PROFILE SECTION */
    .upgrade-banner{
    width: calc(100vw - 230px);
    }

    i.fa-caret-down{
        padding-right: 0.2rem;
        display: block;
    }
}

@media screen and (min-width: 878px){
    .upgrade-btn{
        display: inline-block;
    }

    .playlist-title{
        font-size: 3rem;
    }
    
    .playlist td:nth-child(3),
    .playlist td:nth-child(4){
        display: table-cell;
    }
}

@media screen and (min-width: 1440px){
    .playlist-title{
        font-size: 4rem;
    }
    .playlist-img{
        width: 250px;
    }
}